<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipe">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" (click) = "onSubmit()" [disabled] = "recipe.invalid" class="btn btn-success" style="margin-right: 10px;">Save </button>
                    <button type="button" (click) = "onCancel()" class="btn btn-danger">Cancel </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">name</label>
                        <input type="text" id="name" formControlName="name" class="form-control">
                        <span *ngIf="recipe.get('name').touched && recipe.get('name').invalid" class="text-danger">Name is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image Url</label>
                        <input type="text" id="imagePath" #image class="form-control" formControlName="imagePath">
                        <span *ngIf="recipe.get('imagePath').touched && recipe.get('imagePath').invalid" class="text-danger">Image Is Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ image.value }}" class="img-responsive" style="max-height: 300px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" formControlName="description" rows="6"></textarea>
                        <span *ngIf="recipe.get('description').touched && recipe.get('description').invalid" class="text-danger">Description is required</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" formArrayName="ingredients">
                <h4>Ingredients</h4>
                <div class="row" style="margin-top: 20px;" *ngFor="let ingredient of recipe.get('ingredients').controls; let id = index" [formGroupName]="id">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="name" formControlName="name">
                    </div> 
                    <div class="col-xs-2">
                        <input type="number" class="form-control" name="amount" formControlName="amount">
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-danger" (click)="removeIngredient(id)">X</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin: 30px">
                <div class="row">
                    <button class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span style="margin: 30px;" *ngIf="recipe.get('ingredients').touched && recipe.get('ingredients').invalid" class="text-danger">Please Fill all the Ingredients</span>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="col-xs-12">
                    <div class="row" formArrayName="ingredients">
                        <div class="col-xs-8">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger">X</button>
                            <button class="btn btn-success" (click)="addIngredient()">0</button>
                        </div>
                    </div>
                </div> -->